USE [master]
GO
/****** Объект:  Database [ElectronicsStore]    Дата создания скрипта: 03.10.2026 14:35:29 ******/ 
CREATE DATABASE [ElectronicsStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ElectronicsStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ElectronicsStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ElectronicsStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ElectronicsStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ElectronicsStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ElectronicsStore]
GO
/****** Объект:  Table [dbo].[brands]    Дата создания скрипта: 03.10.2026 14:35:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brands](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[categories]    Дата создания скрипта: 03.10.2026 14:35:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[product_tags]    Дата создания скрипта: 03.10.2026 14:35:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_tags](
	[product_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[products]    Дата создания скрипта: 03.10.2026 14:35:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](500) NULL,
	[price] [float] NOT NULL,
	[stock] [int] NOT NULL,
	[rating] [float] NOT NULL,
	[created_at] [date] NOT NULL,
	[category_id] [int] NOT NULL,
	[brand_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Объект:  Table [dbo].[tags]    Дата создания скрипта: 03.10.2026 14:35:29 ******/ 
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[brands] ([id], [name]) VALUES (1, N'Samsung')
INSERT [dbo].[brands] ([id], [name]) VALUES (2, N'Apple')
INSERT [dbo].[brands] ([id], [name]) VALUES (3, N'Sony')
GO
INSERT [dbo].[categories] ([id], [name]) VALUES (1, N'Smartphones')
INSERT [dbo].[categories] ([id], [name]) VALUES (2, N'Laptops')
INSERT [dbo].[categories] ([id], [name]) VALUES (3, N'Accessories')
GO
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (1, 1)
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (1, 2)
INSERT [dbo].[product_tags] ([product_id], [tag_id]) VALUES (1, 5)
GO
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (1, N'Logitech MX Master 3', N'Latest-generation technology', 167.56, 307, 4.4, CAST(N'2024-07-11' AS Date), 3, 5)
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (2, N'Lenovo Tab P12', N'High-performance device', 2659.51, 238, 1.8, CAST(N'2024-03-06' AS Date), 4, 3)
INSERT [dbo].[products] ([id], [name], [description], [price], [stock], [rating], [created_at], [category_id], [brand_id]) VALUES (3, N'TCL 6-Series 55', N'High-performance device', 1563.33, 499, 4.6, CAST(N'2023-11-05' AS Date), 5, 2)
GO
INSERT [dbo].[tags] ([id], [name]) VALUES (1, N'New')
INSERT [dbo].[tags] ([id], [name]) VALUES (2, N'Popular')
INSERT [dbo].[tags] ([id], [name]) VALUES (3, N'Discount')
GO
ALTER TABLE [dbo].[product_tags]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_tags]  WITH CHECK ADD FOREIGN KEY([tag_id])
REFERENCES [dbo].[tags] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brands] ([id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
USE [master]
GO
